---
---

@import "{{ site.theme }}";

/* Custom CSS goes here */
body section.page-header {
    padding: 0px;
}

.date {
    font-size: 14px;
    color: #888888;
}

.read-more {
    font-size: 14px;
}

.pagination a, .pagination span {
    padding: 7px 18px;
    border: 1px solid #eee;
    margin-left: -2px;
    margin-right: -2px;
    background-color: #ffffff;
    display: inline-block;
  }

.pagination a {    
    &:hover {
        background-color: #f1f1f1;
        color: #333;
    }
 }

.pagination {
    text-align: center;
 }
 
img.emoji {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

ul.awards {
    list-style: none;
    padding: 0px;
}
ul.awards li {
    display: inline-block;
    padding: 5px;
}

td, th {
    vertical-align: top;
}
